node_modules/
__pycache__/
*.pyc
.venv/
.env
.terraform/
*.tfstate
*.tfstate.backup
.DS_Store
*/.oncall/
**/terraform/build/
terraform.tfvars
terraform.tfvars
oncall-agent/manifests/*-lambda.yaml
tfplan
